# Classifying task labeling

In [1]:
from langhuan import ClassifyTask
from forgebox.imports import *
from sklearn.datasets import fetch_20newsgroups

## Create a dummy dataframe

In [2]:
news20 = fetch_20newsgroups()
df = pd.DataFrame(dict(text=news20['data']))
df.head()

                                                text
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...

In [3]:
app = ClassifyTask.from_df(
    df,
    text_col="text",
    options=["positive", "negative", "can't decide"],
    save_frequency=2,
)

In [ ]:
app.run("0.0.0.0", port=5001)