# NER labeling test

In [1]:
from langhuan import NERTask
from forgebox.imports import *
from sklearn.datasets import fetch_20newsgroups

In [2]:
news20 = fetch_20newsgroups()

In [3]:
df = pd.DataFrame(dict(text=news20['data']))
df.head()

                                                text
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...

In [4]:
app = NERTask.from_df(df, text_col="text", options=["institution", "company", "name"])

In [5]:
from flask import request

In [6]:
@app.route("/test")
def test_header():
    return str(request.headers)

In [ ]:
app.run("0.0.0.0")

 * Serving Flask app "task_NER_210120_113158" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [20/Jan/2021 11:31:59] "GET /monitor HTTP/1.1" 200 -
127.0.0.1 - - [20/Jan/2021 11:32:02] "GET /result HTTP/1.1" 200 -